services:
  backend: 
    build: 
      context: . 
      dockerfile: Dockerfile-dev
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - ./config/.env.dev
    command: npm run dev

  db: 
    image: postgres:16  
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: pos_coffe
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
  
volumes: 
  db_data: